DISCORD_TOKEN=your_token_here
GUILD_ID=your_guild_id
STAFF_ROLE_ID=your_staff_role_id
ADMIN_ROLE_ID=your_admin_role_id
RECRUITMENT_ROLE_ID=your_recruitment_staff_role_id
RECRUIT_ROLE_ID=your_recruit_role_id
LOG_CHANNEL_ID=your_log_channel_id
TICKET_CATEGORY_ID=your_ticket_category_id
ARCHIVE_CATEGORY_ID=your_archive_category_id
RECRUIT_CHANNELS_CATEGORY_ID=your_recruit_channels_category_id
