DISCORD_TOKEN=your_token_here
GUILD_ID=0
STAFF_ROLE_ID=0
ADMIN_ROLE_ID=0
RECRUITMENT_ROLE_ID=0
LOG_CHANNEL_ID=0
TICKET_CATEGORY_ID=0
ARCHIVE_CATEGORY_ID=0
RECRUIT_ROLE_ID=0
RECRUIT_CHANNELS_CATEGORY_ID=0
